<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->
<li>
  <a href="https://stackexchange.com/users/34093/alexd" itemprop="sameAs" rel="nofollow noopener noreferrer me">
      <i class="fab fa-stack-exchange" aria-hidden="true"></i> Stack Exchange
    <!--
    <img src="https://stackexchange.com/users/flair/34093.png" width="209" !important height="58" alt="profile for AlexD on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for AlexD on Stack Exchange, a network of free, community-driven Q&amp;A sites" margin-bottom="0.5 em">
    -->
  </a>
</li>
